@page
@model VisualPart.Pages.PersonaPageModel
@{
    ViewData["Title"] = "Person";
}

<div class="text-center">
    <h1 class="display-4">MantenimientoPerson</h1>
</div>
<!--content>
    <table class="table">
        <thead>
            <tr>
                <th>id_persona</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>telefono</th>
                <th>direction</th>
                <th>fech_creacion</th>

            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</content-->